#book-page {
    width: 100%;
    height: 100vh;
}

#content-part {
    position: fixed;
    top: calc(100% * 80 / 900);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFE9C5;
    margin-left: auto;
}

#properties-part-in-book-page {
    width: calc(100% * 120 / 1600);
    height: calc(100% * (900 - 80) / 900);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 0 4px #7D4230;
    overflow: auto;
    color:#7D4230;
    font-family: "Inter", sans-serif;
}

#book-cover-in-book-page {
    background-color: #E29675;
    width: 80%;
    margin-top: 4%;
    aspect-ratio: 3 / 4;
    object-fit: contain;
    border-radius: 12px;
    border-style: solid;
    border-width: 0px;
}

#properties-part-in-book-page::-webkit-scrollbar {
    box-shadow: inset 0px 0px 10px 0px #000000;
    background-color: #FFE9C5;
    width: 8px;
}

#properties-part-in-book-page::-webkit-scrollbar-thumb {
    background-color: #7D4230;
    border-radius: 20px;
    transition: background-color 1s;
}

#properties-part-in-book-page::-webkit-scrollbar-thumb:hover {
    background-color: #E29675;
}

#book-title-in-book-page {
    margin-top: 4%;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

.container-title-in-book-page {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

#book-author-in-book-page {
    font-size: 80%;
    text-align: center;
    padding: 1%;
}

.container-in-book-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 0 4px #7D4230;
}

#page-part-in-book-page {
    box-shadow: inset 0 0 4px #7D4230;
    width: calc(100% * (1600 - 120) / 1600);
    height: calc(100% * (900 - 80) / 900);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.displayed-page-in-book-page-container {
    width: 50%;
    height: 100%;
    padding: 1%;
}

.displayed-page-in-book-page {
    width: 100%;
    height: 100%;
    border-color: #7D4230;
    border-style: solid;
    color:#7D4230;
    font-family: "Inter", sans-serif;
    padding: 1%;
    overflow: auto;
}

.displayed-page-in-book-page::-webkit-scrollbar {
    box-shadow: inset 0px 0px 10px 0px #000000;
    background-color: #FFE9C5;
    width: 8px;
}

.displayed-page-in-book-page::-webkit-scrollbar-thumb {
    background-color: #7D4230;
    border-radius: 20px;
    transition: background-color 1s;
}

.displayed-page-in-book-page::-webkit-scrollbar-thumb:hover {
    background-color: #E29675;
}

.normal-text-detail-in-book-page {
    font-size: 80%;
    text-align: center;
}

#no-book-selected-message-in-book-page {
    color:#7D4230;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

#displayed-page-index-in-book-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-navigation-button-in-book-page {
    font-weight: bold;
    border-radius: 4px;
    width: 24%;
    height: 1%;
    margin: 4%;
    color: #7D4230;
    border-width: 1px;
    border-style: solid;
    border-color: #7D4230;
    background-color: #FFE9C5;
    transition: background-color 1s, color 1s;
}

.page-navigation-button-in-book-page:hover {
    background-color: #E29675;
    color: #FFE9C5;
}

.page-navigation-button-in-book-page:disabled {
    background-color: #7D4230;
    color: #FFE9C5;
}

#change-listen-mode-button-in-book-page {
    font-weight: bold;
    border-radius: 4px;
    width: 80%;
    height: 40%;
    margin: 4%;
    color: #7D4230;
    border-width: 1px;
    border-style: solid;
    border-color: #7D4230;
    background-color: #FFE9C5;
    transition: background-color 1s, color 1s;
}

#change-listen-mode-button-in-book-page:hover {
    background-color: #E29675;
    color: #FFE9C5;
}

#change-listen-mode-button-in-book-page:disabled {
    background-color: #7D4230;
    color: #FFE9C5;
}