#change-password-page {
    width: 100%;
    height: 100vh;
}

#content-part {
    position: fixed;
    top: calc(100% * 80 / 900);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFE9C5;
    margin-left: auto;
    font-family: "Inter", sans-serif;
    box-shadow: inset 0 0 4px #7D4230;
}

#new-password-creation-part {
    font-family: "Inter", sans-serif;
    width: calc(100% * 1500 / 1600);
    height: calc(100% * (900 - 80) / 900);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #7D4230;
    margin-top: 4%;
}

.new-password-creation-field-input-box {
    width: 100%;
    height: 20%;
    font-size: 140%;
    background-color: #FFE9C5;
    color:#7D4230;
    border-color: #7D4230;
    border-radius: 8px;
    border-width: 2px;
    padding: 4px;
    margin: 4px;
    border-style: solid;
    font-size: 100%;
}

.new-password-creation-field-input-box:focus {
    outline: none;
    font-size: 100%;
}

.new-password-creation-field-input-box::placeholder {
    font-family: "Inter", sans-serif;
    color: #7D4230;
    font-size: 140%;
    opacity: 0.8;
}

/*
.new-password-creation-field-input-box::hover {
    border-color: #E29675;
}
*/

#new-password-creation-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

#new-password-form {
    font-family: "Inter", sans-serif;
    font-size: 140%;
    color:#7D4230;
    background-color:#FFE9C5;
    width: 40%;
}

#create-new-password-button {
    background-color: #7D4230;
    color: #FFE9C5;
    width: 40%;
    height: 8%;
    border-style: solid;
    border-width: 0px;
    border-radius: 12px;
    transition: color 1s, background-color 1s;
    font-size: 140%;
    margin-top: 4%;
}

#create-new-password-button:hover {
    background-color: #E29675;
    color: #FFE9C5;
}

#response-message-to-password-change-request {
    font-family: "Inter", sans-serif;
    font-size: 140%;
    color: red;
    margin: 4%;
    opacity: 0.8;
}

#back-button-in-change-password-page {
    position: fixed;
    left: calc(100% * 120 / 1600);
    top: calc(100% * 100 / 900);
    background-color: #FFE9C5;
    border-width: 0px;
    border-style: solid;
    border-radius: 100%;
    border-color: #E29675;
    transition: opacity 1s, background-color 1s, border-width ease 1s;
}

#back-button-in-change-password-page:hover {
    opacity: 0.8;
    background-color:#E29675;
    border-width: 4px;
}