#top-horizontal-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #E29675;
    width: 100%;
    height: calc(100% * 80 / 900);
    color: #FFE9C5;
    font-weight: 600;
}

#large-shelf-logo {
    height: calc(100% * 60 / 80);
    margin-left: 1%;
}

#website-title {
    margin-left: 4%;
    text-align: center;
}

#search-bar {
    width: calc(100% * 580 / 1600);
    height: calc(100% * 50 / 80);
    margin-left: auto;
    margin-right: 1%;
    color: #FFE9C5;
    border-radius: 8px;
    border-color: #FFE9C5;
    border-width: 4px;
    background-color: #E29675;
    border-style: solid;
}

#search-bar::placeholder {
    color: #FFE9C5;
    opacity: 0.8;
}

#search-bar:focus {
    outline: none;
}