.welcome-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.cover-part {
    display: flex;
    flex-direction: column;
    width: 62.5%;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    background-color: #E29675;
}

.login-part {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFE9C5;
}

.cover-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 160%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFE9C5;
}

.cover-logo {
    width: 40%;
    height: 25%;
    margin-bottom: auto;
    margin-top: 8%;
}

.cover-decoration {
    width: calc(100% * 980 / 1000);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: calc(100% * 20 / 1000);
}

.application-name {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 400%;
    color: #7D4230;
}

.welcome-message {
    font-family: "Inter", sans-serif;
    font-weight: thin;
    font-size: 200%;
    color: #7D4230;
}

.login-title {
    margin-bottom: 10%;
}

.input-box {
    width: calc(100% * 500 / 600);
    height: calc(100% * 48 / 900);
    font-size: 140%;
    background-color: #FFE9C5;
    color:#7D4230;
    border-color: #7D4230;
    border-radius: 8px;
    border-width: 2px;
    padding: 4px;
    margin: 4px;
    border-style: solid;
}

.input-box:focus {
    background-color: #FFE9C5;
    outline: none;
}

.input-box::placeholder {
    font-family: "Inter", sans-serif;
    color: #7D4230;
    opacity: 0.8;
}

#password-input-box {
    margin-top: 5%;
}

#forgot-password-button {
    width: calc(100% * 500 / 600);
    height: calc(100% * 48 / 900);
    font-size: 140%;
    background-color: #FFE9C5;
    text-align: left;
    font-weight: thin;
    color:#7D4230;
    opacity: 0.8;
    border-width: 0px;
    padding: 4px;
    margin: 4px;
}

.noticeable-button {
    width: calc(100% * 500 / 600);
    height: calc(100% * 48 / 900);
    font-size: 140%;
    background-color: #7D4230;
    text-align: center;
    font-weight: 1px;
    color:#FFE9C5;
    border-width: 0px;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
}

#login-button {
    background-color: #166EEB;
}

#sign-up-button {
    margin-top: 5%;
    background-color: #42B72A;
}